$brand-color: #28c38a;
$brand-color--light: #a7ffeb;
$white-color: #ffffff;
$grey-color--light: #d3d3d3;
$grey-color--dark: #bbbbbb;
$red-color: #ff0000;
$orange-color: #ffa000;
$gold-color: #ffc900;
$blue-clor--light: #90caf9;

$text-color--dark: #444444;