@import './colors.scss';

//  Base
html {
  box-sizing: border-box;
  user-select: none;
}
* {
  box-sizing: inherit;
}
:root {
  font-size: 10px;
}

::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

a {
  text-decoration: none;
}

.container {
  width:100%
}

// Preloader

.preloader {
  &__wrap {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}

// Menu
.navbar {
  padding-left: 10px;
  margin-bottom: 40px;
  & .nav__item a {
    font-size: 1.8rem;
  }
}

// Search Page
.search {
  &__container {
    margin-bottom: 50px;
  }
}

#search,
#searchWatch {
  color: $white-color;
  font-size: 20px;
  font-weight: 400;
  &:focus {
    color: $text-color--dark;
  }
}

.film {
  &__describtion {
    text-align: center;
    font-size: 1.8rem;
  }
}

.swiper-container {
  max-width: 1280px;
}
.swiper-pagination {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.swiper-pagination-bullet {
  margin-right: 10px;
}

// Auth Page
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    max-width: 600px;
    margin-right: auto;
    margin-top: 20%;
  }
  &__alert {
    visibility: hidden;
    color: $red-color;
    font-size: 18px;
  }
}

.transparent {
  visibility: visible;
}

// additionalCard

.additionalCard {
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 15px;

    margin: 35px 0;
  }
  &__img {
    max-width: 300px;
    margin-right: 30px;
  }
  &__description {
    max-width: 890px;

    font-size: 20px;
  }
  &__movieStatus[data-status='watchLater'] {
    background-color: $orange-color;
  }
  &__movieStatus[data-status='watched'] {
    background-color: $brand-color--light;
  }
  &__movieStatus[data-status='reminedOn'] {
    background-color: $blue-clor--light;
  }

  &__btn-bar {
    display: flex;
    justify-content: space-between;
  }

  &__message {
    display: block;
    text-align: center;
    font-size: 30px;
  }
}

.watchList {
  position: relative;
  &__field {
    display: flex;
  }
  &__btn--close {
    right: 100px!important;
  }
  &__select {
    right: 0;

    padding-left: 10px;
  }
  &__trigger {
    display: flex;

    font-size: 20px;
  }
  &__arrow {
    display: block;
  }
}

.movie-message {
  position: absolute;
  right: 0;
  top: 0;

  &__card {
    display: block;
    max-width: 200px;
    height: 50px;
    padding: 5px;

    box-shadow: 0 2px 2px 0 #0c0b0b14,0 3px 1px -2px #00000012,0 1px 5px 0 #00000020;

    font-size: 18px;
    color: $white-color;
  }
  &--delete .movie-message__card {
      background-color: $red-color;
  }
  &--added .movie-message__card {
      background-color: $brand-color;
  }
}


//  Rating
.rating-area {
  overflow: hidden;
  width: 265px;
  margin: 0 auto;
  max-width: 210px;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: $grey-color--light;
  text-shadow: 1px 1px $grey-color--dark;
}
.rating-area:not(:checked) > label:before {
  content: "★";
}
.rating-area > input:checked ~ label {
  color: $gold-color;
  text-shadow: 1px 1px $orange-color;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: $gold-color;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: $gold-color;
  text-shadow: 1px 1px $orange-color;
}
.rate-area > label:active {
  position: relative;
}


@media screen and (max-width: 768px) {
  .additionalCard__description {
    max-width: none;
  }
  .additionalCard__img {
    margin: 0 auto;
  }
}
